## sysinfo for weewx - Copyright 2013-2014 Matthew Wall
## and 2024 Bill Madill
#errorCatcher Echo
#encoding UTF-8
##
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>System Info</title>
    <style>
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: #ffffff;
}	
    </style>
  </head>

  <body>
    <p>
      System Info Version: $sysinfo.version
      </br>
      $SKIN_NAME skin Version: $SKIN_VERSION
    </p>
    <table>
      <tr>
        <th>
          Memory Type
        </th>
        <th>
          Current
        </th>
        <th>
          Weekly min
        </th>
        <th>
          Weekly max
        </th>
        <th>
          Weekly avg
        </th>
      <tr>
        <td>
          Size
        </td>
        <td>
#if $sysinfo.prevweek.mem_size.has_data
          $latest($data_binding='sysinfo_binding').mem_size.format("%.2f")
        </td>
        <td>
          $sysinfo.prevweek.mem_size.min.format("%.2f")
        </td>
        <td>
          $sysinfo.prevweek.mem_size.max.format("%.2f")
        </td>
        <td>
          $sysinfo.prevweek.mem_size.avg.format("%.2f")
        </td>
#else
        <td>
          Memory (weekly size): N/A
        </td>
#end if
      </tr>
      <tr>
        <td>
          RSS
        </td>
        <td>
#if $sysinfo.prevweek.mem_rss.has_data
          $latest($data_binding='sysinfo_binding').mem_rss.format("%.2f")
        </td>
        <td>
          $sysinfo.prevweek.mem_rss.min.format("%.2f")
        </td>
        <td>
          $sysinfo.prevweek.mem_rss.max.format("%.2f")
        </td>
        <td>
          $sysinfo.prevweek.mem_rss.avg.format("%.2f")
        </td>
#else
        <td>
          Memory (weekly rss): N/A
        </td>
#end if
      </tr>
      <tr>
        <td>
          Share
        </td>
        <td>
#if $sysinfo.prevweek.mem_share.has_data
          $latest($data_binding='sysinfo_binding').mem_share.format("%.2f")
        </td>
        <td>
          $sysinfo.prevweek.mem_share.min.format("%.2f")
        </td>
        <td>
          $sysinfo.prevweek.mem_share.max.format("%.2f")
        </td>
        <td>
          $sysinfo.prevweek.mem_share.avg.format("%.2f")
        </td>
#else
        <td>
          Memory (weekly share): N/A
        </td>
#end if
      </tr>
    </table>
    <img src="daysysinfo.png" />
    <p>Daily memory use</p>
    <img src="weeksysinfo.png" />
    <p>Weekly memory use</p>
    <img src="monthsysinfo.png" />
    <p>Monthly memory use</p>
  </body>
</html>
