## sysstat for weewx - Copyright 2013-2014 Matthew Wall
## and 2024 Bill Madill
#errorCatcher Echo
#encoding UTF-8
      ##($data_binding='sysstat_binding')
##
<!DOCTYPE html>
<html>
  <head>
    ## Specifying an encoding of UTF-8 is usually safe:
    <meta charset="UTF-8">
    <title>System Statistics</title>
    <style>
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: #ffffff;
}	
    </style>
  </head>

  <body>
    <p>Version: $sys_stat.version </p>
    <p>
      Memory (current rss): $latest.mem_rss
    </p>
    <p>
      Memory (weekly rss): $sys_stat.seven_day.mem_rss.avg
    </p>
    <img src="daysysstat.png" />
    <p>Daily memory use</p>
    <img src="weeksysstat.png" />
    <p>Weekly memory use</p>
    <img src="monthsysstat.png" />
    <p>Monthly memory use</p>
  </body>
</html>
