## sysstat for weewx - Copyright 2013-2014 Matthew Wall
## and 2024 Bill Madill
#errorCatcher Echo
#encoding UTF-8
      ##($data_binding='sysstat_binding')
##
<!DOCTYPE html>
<html>
  <head>
    ## Specifying an encoding of UTF-8 is usually safe:
    <meta charset="UTF-8">
    <title>System Statistics</title>
    <style>
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: #ffffff;
}	
    </style>
  </head>

  <body>
    <p>
      System Statistics Version: $sys_stat.version
      </br>
      $SKIN_NAME skin Version: $SKIN_VERSION
    </p>
    <table>
      <tr>
        <th>
          Memory Type
        </th>
        <th>
          Current
        </th>
        <th>
          Weekly min
        </th>
        <th>
          Weekly max
        </th>
        <th>
          Weekly avg
        </th>
      <tr>
        <td>
          Size
        </td>
        <td>
#if $sys_stat.seven_day.mem_size.has_data
          $latest($data_binding='sysstat_binding').mem_size.format("%.2f")
        </td>
        <td>
          $sys_stat.seven_day.mem_size.min.format("%.2f")
        </td>
        <td>
          $sys_stat.seven_day.mem_size.max.format("%.2f")
        </td>
        <td>
          $sys_stat.seven_day.mem_size.avg.format("%.2f")
        </td>
#else
        <td>
          Memory (weekly size): N/A
        </td>
#end if
      </tr>
      <tr>
        <td>
          RSS
        </td>
        <td>
#if $sys_stat.seven_day.mem_rss.has_data
          $latest($data_binding='sysstat_binding').mem_rss.format("%.2f")
        </td>
        <td>
          $sys_stat.seven_day.mem_rss.min.format("%.2f")
        </td>
        <td>
          $sys_stat.seven_day.mem_rss.max.format("%.2f")
        </td>
        <td>
          $sys_stat.seven_day.mem_rss.avg.format("%.2f")
        </td>
#else
        <td>
          Memory (weekly rss): N/A
        </td>
#end if
      </tr>
      <tr>
        <td>
          Share
        </td>
        <td>
#if $sys_stat.seven_day.mem_share.has_data
          $latest($data_binding='sysstat_binding').mem_share.format("%.2f")
        </td>
        <td>
          $sys_stat.seven_day.mem_share.min.format("%.2f")
        </td>
        <td>
          $sys_stat.seven_day.mem_share.max.format("%.2f")
        </td>
        <td>
          $sys_stat.seven_day.mem_share.avg.format("%.2f")
        </td>
#else
        <td>
          Memory (weekly share): N/A
        </td>
#end if
      </tr>
    </table>
    <img src="daysysstat.png" />
    <p>Daily memory use</p>
    <img src="weeksysstat.png" />
    <p>Weekly memory use</p>
    <img src="monthsysstat.png" />
    <p>Monthly memory use</p>
  </body>
</html>
